<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <!-- IIS/Azure App Service (Windows): por defecto corta en ~28.6MB con 404.13.
           262144000 bytes = 250MB, igual que Kestrel/FormOptions/[RequestSizeLimit]. -->
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="262144000" />
        </requestFiltering>
      </security>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\clinicaWeb.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
</configuration>
