@model ClinicaDomain.Usuario

@{
    ViewData["Title"] = "Editar";
}

<div class="row">
    <form id="editUserForm" asp-action="Editar" method="post">
        <input hidden name="IdUsuario" value="@Model.IdUsuario" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
        <div class="col-md-6">
        <div class="form-group">
            <label asp-for="NombreUsuario" class="control-label">Usuario</label>
            <input asp-for="NombreUsuario" class="form-control" />
            <span asp-validation-for="NombreUsuario" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PreguntaSeg" class="control-label">Pregunta de seguridad</label>
            <input asp-for="PreguntaSeg" class="form-control" />
            <span asp-validation-for="PreguntaSeg" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="RespuestaSeg" class="control-label">Respuesta de seguridad</label>
            <input asp-for="RespuestaSeg" class="form-control" />
            <span asp-validation-for="RespuestaSeg" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Dpi" class="control-label">DPI</label>
            <input asp-for="Dpi" class="form-control" />
            <span asp-validation-for="Dpi" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Nombre" class="control-label"></label>
            <input asp-for="Nombre" class="form-control" />
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Apellido" class="control-label"></label>
            <input asp-for="Apellido" class="form-control" />
            <span asp-validation-for="Apellido" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="FechaNacimiento" class="control-label">Fecha de nacimiento</label>
            <input asp-for="FechaNacimiento" type="date" class="form-control" />
            <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Telefono" class="control-label">Teléfono</label>
            <input asp-for="Telefono" class="form-control" />
            <span asp-validation-for="Telefono" class="text-danger"></span>
        </div>
        </div>
            <div class="col-md-6">
        <div class="form-group">
            <label asp-for="Correo" class="control-label"></label>
            <input asp-for="Correo" class="form-control" />
            <span asp-validation-for="Correo" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EstadoCivil" class="control-label">Estado Civil</label>
            <input asp-for="EstadoCivil" class="form-control" />
            <span asp-validation-for="EstadoCivil" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Profesion" class="control-label">Profesión</label>
            <input asp-for="Profesion" class="form-control" />
            <span asp-validation-for="Profesion" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Nacionalidad" class="control-label">Nacionalidad</label>
            <input asp-for="Nacionalidad" class="form-control" />
            <span asp-validation-for="Nacionalidad" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Antecedentes" class="control-label">Antecedentes</label>
            <input asp-for="Antecedentes" class="form-control" />
            <span asp-validation-for="Antecedentes" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="TipoSange" class="control-label">Tipo de sangre</label>
            <input asp-for="TipoSange" class="form-control" />
            <span asp-validation-for="TipoSange" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="control-label">Contraseña</label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        </div>
            <br>
        <div class="form-group">
            <input type="submit" onclick="guardadoAlert(event)" value="Guardar" class="btn btn-primary" />
        </div>
        </div>
    </form>
</div>

@section Scripts{
    <script>

        function guardadoAlert(e) {
            e.preventDefault();
            Swal.fire({
                icon: 'success',
                title: 'Cambios guardados',
                showConfirmButton: false,
                timer: 1500
            }).then((result) => {
                if (result.dismiss === Swal.DismissReason.timer) {
                    const formulario = document.getElementById('editUserForm');
                    formulario.submit();
                }
            })
        }

        function alertTerminarConsulta(e) {
            e.preventDefault();
            Swal.fire({
                title: '¿Esta seguro de terminar esta consulta?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'Si',
                cancelButtonText: 'No'
            }).then((resultado) => {

                if (resultado.isConfirmed) {
                    const formulario = document.getElementById('editUserForm');
                    formulario.submit();
                }

            })
        }

        function alertElminarPrevent(e) {
            e.preventDefault();

            Swal.fire({
                title: '¿Esta seguro de eliminar este servicio?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'Si',
                cancelButtonText: 'No'
            }).then((resultado) => {

                if (resultado.isConfirmed) {
                    Swal.fire(
                        'Good job!',
                        'You clicked the button!',
                        'success'
                    );
                    const formulario = document.getElementById('eliminarForm');
                    formulario.submit();
                }

            })
        }
    </script>
    <script src="~/js/pages/consultas.js" asp-append-version="true"></script>
}

