@model clinicaWeb.Models.CitasViewModel;
@{
    ViewData["Title"] = "Citas";
}
@section Links{
    <link rel="stylesheet" href="~/css/pages/calendario.css" asp-append-version="true" />
}

<div class="card w-80 shadow-lg mt-5" id="citas">

    <div class="card-header bg-ligth">
        <h3 class="titulo">Citas</h3>
    </div>
    <div class="card-body">
        @Html.Partial("_calendar")
</div>
</div>

@section Scripts{
    <script src="~/js/pages/calendario.js" asp-append-version="true"></script>
        }
