@model ClinicaDomain.Consulta

@{
    ViewData["Title"] = "Consulta";
}

<h1>Consulta</h1>

<h4>Consulta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Consulta">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdConsulta" class="control-label"></label>
                <input asp-for="IdConsulta" class="form-control" />
                <span asp-validation-for="IdConsulta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPaciente" class="control-label"></label>
                <input asp-for="IdPaciente" class="form-control" />
                <span asp-validation-for="IdPaciente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Peso" class="control-label"></label>
                <input asp-for="Peso" class="form-control" />
                <span asp-validation-for="Peso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TiempoDuracion" class="control-label"></label>
                <input asp-for="TiempoDuracion" class="form-control" />
                <span asp-validation-for="TiempoDuracion" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Radiografias" /> @Html.DisplayNameFor(model => model.Radiografias)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="PresionArterial" class="control-label"></label>
                <input asp-for="PresionArterial" class="form-control" />
                <span asp-validation-for="PresionArterial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Temperatura" class="control-label"></label>
                <input asp-for="Temperatura" class="form-control" />
                <span asp-validation-for="Temperatura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MotivoConsulta" class="control-label"></label>
                <input asp-for="MotivoConsulta" class="form-control" />
                <span asp-validation-for="MotivoConsulta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diagnostico" class="control-label"></label>
                <input asp-for="Diagnostico" class="form-control" />
                <span asp-validation-for="Diagnostico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observaciones" class="control-label"></label>
                <input asp-for="Observaciones" class="form-control" />
                <span asp-validation-for="Observaciones" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Pagada" /> @Html.DisplayNameFor(model => model.Pagada)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Terminada" /> @Html.DisplayNameFor(model => model.Terminada)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

