.option {
    background-color: transparent;
    border: 0px;
    color: black;
    text-decoration: none;
    padding: 5px;
}

.dataTables_filter input {
    width: 300%;
}

.dataTables_wrapper .dataTables_filter {
    float: left;
    text-align: center;
    position: center;
    margin-left: 25%;
    padding: 0px;
    margin-bottom:20px;
}

.table{
    border: 1px solid;
    margin-top: 10px;
}

.dataTables_wrapper .dataTables_paginate {
    float: right;
    text-align: right;
    padding-top: 0.25em;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: inherit !important;
    border: 1px solid transparent;
    border-radius: 2px;
    background: transparent;
}

textarea:focus {
    outline: 2px solid #007bff; /* Borde visible al enfocar */
    caret-color: black !important; /* Línea de escritura negra */
    cursor: text !important;
}