@media print {
    @page {
        size: A5;
        margin-top: 0;
        margin-bottom:0;
        margin-right: 0;
        margin-left: 0;
}

    html, body {
        margin-top: auto;
        margin-bottom: 0;
        margin-right: 0;
        margin-left: 0;
        padding: 0;
}
}


.piePag {
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0px;
    text-align: center;
}


body {
    font-family: 'Roboto', sans-serif;
    align-items: center;
    color: rgb(1, 1, 39);
    /* width: 148mm;
    height: 210mm; */
}

.logoTh {
    width: 200px;
    height: 100px;
    margin-left:-20px;
}

    .logoTh img {
        display: block;
        margin: 0;
    }

.CompanyName {
    margin: 0;
}

.Tittle {
    color: #591CFF;
    font-size: 12px;
}

.Descrip {
    font-size: 12px;
}

.detalleReceta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
}

.circle-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.circle-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #000;
    color: #000;
    font-size: 13px;
    margin-right: 10px;
}

h6 {
    margin: 0;
}

.line {
    border: none;
    border-top: 1px solid #000;
    margin: 1px 0;
    margin-bottom:2px;
}


/*HEADER*/
.fila {
    display: flex; /* Flexbox para alinearlos en fila */
    justify-content: space-between; /* Logo a la izquierda, horario a la derecha */
    align-items: center; /* Centrado vertical */
    width: 100%;
    flex-wrap: wrap; /* Para que se acomoden en móviles */
}

.logo-container img {
    height: 6.25rem;
    margin-left: 0;
}

.horario {
    font-size: 0.75rem;
    text-align: right;
    padding-right: 1%;
    padding-top: 5%;
}

@media (max-width: 600px) {
    .fila {
        align-items: flex-start;
        text-align: left;
    }

    .horario {
        text-align: right;
        margin-top:3%;
    }
}
/*MARCA */
.watermark {
    position: fixed; /* Fija en la ventana */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra exactamente */
    opacity: 0.1; /* Baja opacidad para que no moleste */
    z-index: 0; /* Detrás de todo */
    pointer-events: none; /* Que no interfiera con clicks */
    max-width: 90vw; /* Ajusta tamaño, máximo 50% del ancho */
    max-height: 90vh; /* Ajusta máximo alto */
    user-select: none; /* No seleccionable */
}