@media print {
    @page {
        size: A5;
        margin-top: 0;
        margin-bottom:0;
        margin-right: 0;
        margin-left: 0;
}

    html, body {
        width: 148mm;
        height: 210mm;
        margin-top: auto;
        margin-bottom: 0;
        margin-right: 0;
        margin-left: 0;
        padding: 0;
}
}


.piePag {
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0px;
    text-align: center;
}


body {
    font-family: 'Roboto', sans-serif;
    align-items: center;
    color: rgb(1, 1, 39);
    /* width: 148mm;
    height: 210mm; */
}

.logoTh {
    width: 200px;
    height: 100px;
    margin-left:-20px;
}

    .logoTh img {
        display: block;
        margin: 0;
    }

.CompanyName {
    margin: 0;
}

.Tittle {
    color: #591CFF;
    font-size: 12px;
}

.Descrip {
    font-size: 12px;
}

.detalleReceta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
}

.circle-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.circle-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #000;
    color: #000;
    font-size: 13px;
    margin-right: 10px;
}

h5 {
    margin: 0;
}

.line {
    border: none;
    border-top: 1px solid #000;
    margin: 10px 0;
}
