
.tab-pane {
    background-color: transparent !important;
}

.btn-total{
    background-color: transparent;
    border: none;
    color:dodgerblue;
    text-decoration: underline;
}

.encabezado{
    color:black;
}

.centered-span {
    display: block; /* Cambia la visualización a bloque */
    text-align: center; /* Centra el texto dentro del bloque */
}

.dataTables_filter{
    visibility:hidden;
}
