<!-- Modal Crear Paciente-->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Crear Paciente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="crear" asp-action="Create" method="POST">
                    <div class="row">
                    <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Nombre</label>
                        <input name="Nombre" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Apellido</label>
                        <input name="Apellido" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Dpi</label>
                        <input name="Dpi" id="Dpi" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Fecha de nacimiento</label>
                        <input name="FechaNacimiento" type="date" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Genero</label>
                        <input name="Genero" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Teléfono</label>
                        <input name="Telefono" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Correo</label>
                        <input name="Correo" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Direccion</label>
                        <input name="Direccion" class="form-control" />
                    </div>
                    </div>
                    <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Alergias</label>
                        <input name="Alergias" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Estado civil</label>
                        <input name="EstadoCivil" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Profesion</label>
                        <input name="Profesion" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Nacionalidad</label>
                        <input name="Nacionalidad" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Remitido por</label>
                        <input name="Remitido" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Antecedentes</label>
                        <input name="Antecedentes" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Tipo de sangre</label>
                        <input name="TipoSange" class="form-control" />
                    </div>
                    </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary" form="crear">Agregar</button>
            </div>

        </div>
    </div>
</div>
