
<div class="modal fade" id="modalGeneric" tabindex="-1" role="dialog" aria-labelledby="modalGeneric" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="modalGenericBody" class="modal-body">
                <div class="container-fluid" style="inline-size: fit-content;"><i class="fas fa-circle-notch fa-spin" style="font-size: 40px;"></i></div>
            </div>
        </div>
    </div>
</div>