@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
    var recetaDetalle = ViewData["detalleReceta"];
    var fecha = ViewData["fecha"];
    var paciente = ViewData["Paciente"];


}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/pages/RecetaStyle.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>


<body>
    <script>
        window.onload = function () {
            window.print();
        };
    </script>
<div class="upper">
    <img src="~/img/Logo.png" alt="Logo" class="logoTh">
    <table style="border-style: none; width:100%;">
        <tr>
            <th style="text-align: left">
                    <h1 style="display:inline; font-size: 13px;">Dr.Manuel Hernandez Espinoza</h1>
            </th>
            <th style="text-align: right">
                    <b style="font-size: 13px">MSc. TRAUMATOLOGIA Y ORTOPEDIA</b>
            </th>
        </tr>
    </table>
</div>

<div class="upper2">
    <hr style="border: 0.5px solid #004169 ;">

    <table style="border-style: none; width:100%;">
        <tr style="margin-left: 3px">
            <th style="text-align: left">
                    <h1 style="display: inline; font-size: 13px; font-weight: bold; "> Direccion:</h1><br>
                    <b style="font-size: 12px; font-weight: lighter;">Calzada Santa Lucia Norte No. 22</b><br>
                    <b style="font-size: 12px; font-weight: lighter;">Antigua Guatemala</b><br>
            </th>
            <th style="text-align: right">
                    <b style="font-size: 13px; font-weight: bold; ">Fecha:</b><br>
                    <b style="font-size: 12px; font-weight: lighter;">@fecha</b>
            </th>
        </tr>
    </table>
</div>

<div class="middle">
    <hr style="border: 0.5px solid #004169 ;">
        <b style="font-size: 13px;font-weight:lighter">Paciente: @paciente</b>
    <hr style="border: 0.5px solid #004169 ;">
        <div class="detalleReceta">
            <table style="border-style: none; width:100%;">
                <tr style="margin-left: 3px">
                    <th style="text-align: center">
                        <p style="display: inline; font-size: 14px; font-weight:lighter">@recetaDetalle</p><br>
                        <p style="display: inline; font-size: 11px; font-weight:bold">-OMITIR CUALQUIER PRESCRIPCION DESPUES DE ESTA LINEA-</p><br>
                    </th>
                </tr>
            </table>
        </div>
</div>

    <footer class="piePag">
<div class="under">
            <p style=" text-align: center; font-size: 11px; font-weight:bold">-NO PERMITA QUE LE CAMBIEN LA RECETA-</p>
            <hr style="border: 0.5px solid #004169 ;">
            <h1 style="display: inline; font-size: 11px; "> Contacto: </h1><br>
            <p style="display: inline; font-size: 11px; font-weight:lighter"><img src="~/img/tel.png" style="width: 14px; height: 14px;"> Tel: 7832-6115 - <img src="~/img/cel.png" style="width: 14px; height: 14px;"> Cel: 3116-0253</p><br>
            <p style="display: inline; font-size: 11px; font-weight:lighter"><img src="~/img/correo.png" style="width: 15px; height: 15px;"> Correo: dr.manuelhernandeztyo@gmail.com </p><br>
            <h1 style="display: inline; font-size: 11px; font-weight:lighter"> Correo: dr.manuelhernandeztyo@gmail.com</h1><br>
            </th>
        </tr>
    </table>
    <hr style="border: 0.5px solid #004169 ;">
    <table style="border-style: none; width:100%;">
        <tr style="margin-left: 3px">
            <th style="text-align: center">
                        <h1 style="display: inline; font-size: 11px; "> Horario: </h1><br>
                        <h1 style="display: inline; font-size: 11px; font-weight:lighter ">Lunes a Viernes de 9:00 a 18:00 Hrs.</h1><br>
                        <h1 style="display: inline; font-size: 11px; font-weight:lighter ">Sabados de 9:00 a 13:00 Hrs.</h1><br>
            </th>
        </tr>
    </table>
    <hr style="border: 0.5px solid #004169 ;">
            <p style=" text-align: center; font-size: 13px; font-weight:bold"><img src="~/img/facebook.png" style="width: 15px; height: 15px;"> CLINICAS MEDICAS DRA.MIRIAM LOPEZ & HM </p>
</div>
    </footer>

</body>
</html>
