.saludo{
    color:black;
}

.saludo:hover{
    color:black;
}

.menu-cuenta {
    background-color: #f2f2f2;
}

.conf-option:hover {
    background-color: #0077c0;
    color: white;
}

.select2 {
    width: 100% !important;
}

.select2-selection {
    height:36px !important;
}

table th {
    white-space: nowrap !important;
}

table td {
    white-space: nowrap !important;
}

container-menu {
    background-color: #f2f2f2;
}
html {
    font-size: 16px;
    min-height: 100%;
}

.container-larger {
    width: 80vw;
    transition: transform 0.3s ease-in-out;
    position: relative;
    left:8vw;
}

    .container-larger.hidden {
        transform: translateX(-8vw);
        width: 90vw;
        transition: transform 0.3s ease-in-out;
        transition: width 0.3s ease-in-out;
    }


.container-fluid {
    display: block;
    margin: 0;
    padding: 0;
}

.menu {
    text-align: center;
    align-content: center;
    display: block;
    background-color: #8bc2f2;
    /*background-color: #8bc2f2; #B4D9F8; #66ADEA;#4D7491*/
    width: 15vw;
    padding: 0;
    margin: 0;
    position: fixed;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
    height:100vh;

}

    .menu.hidden {
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
    }

.logo {
    display: block;
    width: 100%;
}

.header {
    display: block;
}

.content {
    margin: 20px;
}

hr {
    margin: 0;
}

.botones {
    display: block;
    justify-content: left;
}

.menu_bt {
    display: flex;
    background-color: transparent;
    border: 0px;
    width: 100%;
    padding: 4%;
    padding-left: 9%;
    text-decoration: none;
    color: #222222;
    cursor: pointer;
    font-size:1vw;
}



.menu_icon {
    margin-left: 5%;
    margin-right: 5%;
    margin-top:5%;
}

.menu_bt:hover {
    background-color: #0077c0;
    color: white;
}

.logout:hover {
    color: #8e0404;
}

.toggle-button {
    border: 2px solid #009999;
    border-radius: 50%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    color: #009999;
    transition: all 0.3s ease;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 14vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.toggle-button.hidden-tgb {
    left: 0.5vw;
}

    .toggle-button:hover {
        color: #22cece;
    }

/* Estilos para tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    .toggle-button {
        left: 18.5vw;
    }

    .menu {
        text-align: center;
        align-content: center;
        display: block;
        background-color: #8bc2f2;
        /*background-color: #8bc2f2; #B4D9F8; #66ADEA;#4D7491*/
        width: 20vw;
        padding: 0;
        margin: 0;
        transform: translateX(0);
        transition: transform 0.3s ease-in-out;
        top: 0;
        height:125vh;
    }

        .menu.hidden {
            transform: translateX(-100%);
            transition: transform 0.3s ease-in-out;
        }

    .menu_bt {
        display: flex;
        background-color: transparent;
        border: 0px;
        width: 100%;
        padding: 4%;
        padding-left: 9%;
        text-decoration: none;
        color: #222222;
        cursor: pointer;
        font-size:1.4vw;
    }

    .container-larger {
        width: 70vw;
        transition: transform 0.3s ease-in-out;

    }

    .container-larger.hidden {
        transform: translateX(-5vw);
        width:85vw;
        transition: transform 0.3s ease-in-out;
        transition: width 0.3s ease-in-out;
    }

}

@media (max-width: 767px) {

    .toggle-button {
        left: 2vw;
        transform: translateX(2vw);
        transition: transform 0.3s ease-in-out;
    }
        .toggle-button.hidden-tgb {
            transform: translateX(84vw);
            transition: transform 0.3s ease-in-out;
        }

    html {
        font-size: 12px;
    }

    .menu {
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        position: absolute;
        width: 100%;
        padding: 0;
        margin: 0;
        z-index: 1;
        height:100%
    }

        .menu.hidden {
            text-align: center;
            align-content: center;
            display: block;
            background-color: #8bc2f2;
            /*background-color: #8bc2f2; #B4D9F8; #66ADEA;#199687*/
            width: 100%;
            padding: 0;
            margin: 0;
            position: absolute;
            transform: translateX(0);
            transition: transform 0.3s ease-in-out;
            z-index: 1;
            height: 100%;
        }

    .menu_bt {
        display: flex;
        background-color: transparent;
        border: 0px;
        width: 100%;
        padding: 4%;
        padding-left: 9%;
        text-decoration: none;
        color: #222222;
        cursor: pointer;
        font-size: 6vw;
    }

    .container-larger {
        left: 0vw;
    }

        .container-larger.hidden {
            left: 0vw;
            transform: translateX(0vw);
            width: 80vw;
        }

}

@media (max-width: 480px) {
    /* Estilos para smartphones en posición vertical */
    .menu {
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
        position: absolute;
        width: 100%;
        padding: 0;
        margin: 0;
        z-index: 1;
    }
        .menu.hidden {
            text-align: center;
            align-content: center;
            display: block;
            background-color: #8bc2f2;
            /*background-color: #8bc2f2; #B4D9F8; #66ADEA;#199687*/
            width: 100%;
            padding: 0;
            margin: 0;
            position: absolute;
            transform: translateX(0);
            transition: transform 0.3s ease-in-out;
            z-index: 1;
        }

    .menu_bt {
        display: flex;
        background-color: transparent;
        border: 0px;
        width: 100%;
        padding: 3%;
        padding-left: 9%;
        text-decoration: none;
        color: #222222;
        cursor: pointer;
        font-size: 4vw;
    }
}

@media (max-width: 767px) {
    /* Estilos */
}

.dataTables_filter input {
    width: 300%;
}

.dataTables_wrapper .dataTables_filter input {
    border: none;
    border-bottom: 2px solid #999;
    box-shadow: none;
    border-radius: 0;
    padding: 8px 0;
    font-size: 16px;
    font-weight: 500;
    color: #666;
    margin-bottom:10px;
    background-color: transparent;
    transition: border-bottom 0.2s ease-in-out;

}

    .dataTables_wrapper .dataTables_filter input:focus {
        outline: none;
        border-bottom: 2px solid #0099cc;
    }

.dataTables_wrapper .dt-buttons {
    position:absolute;

}

.active {
    background-color: #0077c0;
    color: white;
}


/*estandares de botones*/
.btn-primary {
    background-color: #0077c0;
    border:none;
    color: white;
}

    .btn-primary:hover {
        background-color: #005F9A;
        border: none;
        color: white;
    }

.option {
    background-color: transparent;
    border: 0px;
    color: black;
    text-decoration: none;
    padding: 5px;
}

    .option:hover {
        background-color: #8bc2f2;
        text-decoration: none;
        color:black;
    }

.truncate {
    display: inline-block;
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
}